<a href="https://colab.research.google.com/github/nj9666/PythonBasic/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment :-
  1. Given a two

In [ ]:
num1 = int(input("Enter the  First Number :- "))
num2 = int(input("Enter the  second Number :- "))

def producr_or_sum(n1,n2):
  num = n1*n2
  if(num<1000):
    return num
  else:
    return n1+n2
result = producr_or_sum(num1,num2)
print("Result :-",result)

Enter the  First Number :- 5
Enter the  second Number :- 5
Result :- 25

@. Given

In [ ]:
def Sum(number):
    previousnum=0
    for i in range(number):
      sum = previousnum+i
      print("Current Numbrer", i ,"Previous Number", previousnum , " Sum : ",sum)
      previousnum = i

print("sum")
Sum(10)

sum
Current Numbrer 0 Previous Number 0  Sum :  0
Current Numbrer 1 Previous Number 0  Sum :  1
Current Numbrer 2 Previous Number 1  Sum :  3
Current Numbrer 3 Previous Number 2  Sum :  5
Current Numbrer 4 Previous Number 3  Sum :  7
Current Numbrer 5 Previous Number 4  Sum :  9
Current Numbrer 6 Previous Number 5  Sum :  11
Current Numbrer 7 Previous Number 6  Sum :  13
Current Numbrer 8 Previous Number 7  Sum :  15
Current Numbrer 9 Previous Number 8  Sum :  17

3 given

In [ ]:
string = (input("Enter the String :- \n"))
even_str=string[::2]
print(even_str)

Enter the String :-
nitin
ntn

4 . givern

In [ ]:
text= '      10 20   ,   30 40 50'

# splits at space
print(list(map(int,input("\n Enter the number : ").strip().split()))[-3])
print(text.strip().split(','))

 Enter the number : 10 20 30 40 50 60 70 80
60
['10 20   ', '   30 40 50']

In [ ]:
num = int(input("Enter Nmber of element : "))
a = list(map(int,input("\n Enter the number : ").strip().split()))[:num]

print("\n List is - ",a)

def first_last():
  firstnum = a[0]
  lastnum = a[-1]
  if (firstnum==lastnum):
    true = True
    return true
  else:
    return False

print("Res :-", first_last())

Enter Nmber of element : 4

 Enter the number : 1 2 1

 List is -  ['1', '2', '1']
Res :- True

5. giveb

In [ ]:
a1=[10,20,30,40,50,60]
a2=[100,200,300,400,500,600]
list3 = list()
oddel = a1[1::2]
print("element at odd in list one")
print(oddel)
evenel = a2[::2]
print("element at even in list two")
print(evenel)

print("Final List")
list3.extend(oddel)
list3.extend(evenel)
print(list3)

element at odd in list one
[20, 40, 60]
element at even in list two
[100, 300, 500]
Final List
[20, 40, 60, 100, 300, 500]

6. given

In [ ]:
# from goto import goto, label
# label .home
numberList = []
n = int(input("Enter the list size more then 5 : "))
# if(n < 5):
#     goto .home

print("\n")
for i in range(0, n):
    print("Enter number at location", i, ":")
    item = int(input())
    numberList.append(item)
print("User List is :- \n", numberList)

#removing element at index 4
element=numberList.pop(4)
print("Updated User List is :- \n", numberList)

#adding element to the 2nd position
numberList.insert(2, element)
print("List after Adding element at index 2 :- \n", numberList)

#adding element at the end of the list
numberList.append(element)
print("List after Adding element at last :- ", numberList)

Enter the list size more then 5 : 5


Enter number at location 0 :
1
Enter number at location 1 :
2
Enter number at location 2 :
3
Enter number at location 3 :
4
Enter number at location 4 :
5
User List is :-
 [1, 2, 3, 4, 5]
Updated User List is :-
 [1, 2, 3, 4]
List after Adding element at index 2 :-
 [1, 2, 5, 3, 4]
List after Adding element at last :-  [1, 2, 5, 3, 4, 5]

7. given

In [ ]:
numberList = [1,2,3,4,5,6,7,8,9]
print("Original List is :- \n", numberList)

length = len(numberList)
if(length%3 != 0):
  print("Plz Enter the list size that is divisible by three")
else:
  chunkSize  = int(length/3)
  start = 0
  end = chunkSize
  for i in range(1, 4, 1):
    indexes = slice(start, end, 1)
    listChunk = numberList[indexes]
    print("Chunk ", i ,":- ", listChunk)
    print("After reversing it :- ", list(reversed(listChunk)))
    start = end
    if(i != 2):
      end +=chunkSize
    else:
      end += length - chunkSize

Original List is :-
 [1, 2, 3, 4, 5, 6, 7, 8, 9]
0
Chunk  1 :-  [1, 2, 3]
After reversing it :-  [3, 2, 1]
Chunk  2 :-  [4, 5, 6]
After reversing it :-  [6, 5, 4]
Chunk  3 :-  [7, 8, 9]
After reversing it :-  [9, 8, 7]

8. given

In [ ]:
numList = [2,4,6,3,4,5,6,8,1,2,5,2,4,2]
print("Original list ", numList)

countDict = dict()
for item in numList:
  if (item in countDict):
    countDict[item] += 1
  else:
    countDict[item] = 1
  
print("Printing count of each item  ",countDict)

Original list  [2, 4, 6, 3, 4, 5, 6, 8, 1, 2, 5, 2, 4, 2]
Printing count of each item   {2: 4, 4: 3, 6: 2, 3: 1, 5: 2, 8: 1, 1: 1}

9.

In [ ]:
colorset={'yellow','orange'}
colorlist=['blue','black']
colorset.update(colorlist)
print(colorset)

{'orange', 'blue', 'yellow', 'black'}

10.

In [ ]:
rows = 5
for row in range(1, rows+1):
  for column in range(1, row + 1):
    print(column, end=' ')
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

12. given

In [ ]:
num = int(input("Enter the number :-"))
sum = 0
for i in range(2,num):
  sum += i
print(sum)

Enter the number :-5
9

13.

In [ ]:
"""
list1 = []
n = int(input("Enter the list size : "))

print("\n")
for i in range(0, n):
print("Enter number at location", i, ":")
item = int(input())
numberList.append(item)
print("User List is :- \n", list18)
"""
list1=[20,15,45,20,36,47,100,125,140,148,150,165,151,180,5]
list1.sort()

for item in list1:
  if (item > 150):
    break
  if(item % 5 == 0):
    print(item)

5
15
20
20
45
100
125
140
150

14

In [ ]:

list1=[10,20,30,40]
list2 = list()
for i in range(0,len(list1)):
  list2.append(list1[-i-1])

print(list2)

[40, 30, 20, 10]

15.

In [ ]:
num1 = int(input("Enter the lower number :- "))
num2 = int(input("Enter the Upper number :- "))

print("Prime numbers between", num1, "and", num2, "are :-")

for num in range(num1, num2 + 1):
# all prime numbers are greater than 1
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        break
    else:
      print(num)

Enter the lower number :- 1
Enter the Upper number :- 200
Prime numbers between 1 and 200 are :-
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

16. 


import numpy

sampleArray = numpy.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])

In [ ]:
import numpy as np

sampleArray = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])
print(sampleArray[:,2])

[33 66 99]

17

In [ ]:
import numpy

Array1 = numpy.empty([4,2], dtype = numpy.uint16)
print("Printing Array")
print(Array1)

print("Printing numpy array Attributes")
print("1). Array Shape is: ", Array1.shape)
print("2). Array dimensions are ", Array1.ndim)
print("3). Length of each element of array in bytes is ", Array1.itemsize)

Printing Array
[[ 7280   631]
 [    0     0]
 [42688  1033]
 [    0     0]]
Printing numpy array Attributes
1). Array Shape is:  (4, 2)
2). Array dimensions are  2
3). Length of each element of array in bytes is  2